{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="shortcut icon" type=image/png href=http://s32.postimg.org/oog38bkut/image.png>
    <link rel=stylesheet type=text/css href=//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.css>
    <script src=//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js></script>
    <title>SJ - symmetricalJourney</title>
    <link href="{% static 'app.d9b36fefa5987dd8c47c619b7db2fd8f.css' %}" rel=stylesheet>
</head>

<body>
    <app></app>
    <script src="{% static 'app.cf11acae20b7b931afd7.js' %}"></script>
</body>

</html>
