{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel=stylesheet type=text/css href={% static 'semantic/semantic.min.css' %}>
    <script src={% static 'semantic/semantic.min.js' %}></script>
    <title>symmetrical-journey</title>
    <link href={% static 'app.3271279b0b1509e759b94a2ebe59ab62.css' %} rel=stylesheet>
</head>

<body>
    <app></app>
    <script type=text/javascript src={% static 'app.74a412fbfe982dd64d4a.js' %}></script>
</body>

</html>
