<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js></script>
    <link rel=stylesheet type=text/css href=static/semantic/semantic.min.css>
    <script src=static/semantic/semantic.min.js></script>
    <title>symmetrical-journey</title>
    <link href=//app.4bafeef396ef27ce4060936b89b0bd8a.css rel=stylesheet>
</head>

<body>
    <app></app>
    <button class="ui primary loading button">Loading</button>
    <script type=text/javascript src=//app.8bc6fedc32ec413283bb.js></script>
</body>

</html>
